@import '../../sass/_variable'; //Variable
@import '../../sass/_mixin'; //Mixin

// mt-success-case
.mt-success-case {
  background-color: #fff;

  .container {
    padding: 2em 0em 1em;
  }

  .successCase {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .item {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 45%;
      margin: 0 1.5em 1em;
      display: flex;
      align-items: stretch;

      @include screen('xs_mobile') {
        flex-basis: 100%;
        margin: 0 2em 1em;
      }

      a {
        display: block;
        width: 100%;

        .img-container {
          @include aspect-ratio(5, 3);
          width: 100%;

          img {
            transition: 0.3s ease-out;
          }
        }

        &:hover,
        &:focus {
          .img-container {
            img {
              transform: scale(1.1);
            }
          }

          h3 {
            &:before {
              left: -2em;
            }
          }
        }

        h3 {
          position: relative;
          top: -1em;
          margin: 0;
          width: 90%;
          padding: 1em 3em 1em 1em;
          color: #fff;
          overflow: hidden;

          span {
            position: relative;
            z-index: 3;
            @include text-line(2, 1.45em);
          }

          &:after {
            position: absolute;
            content: '';
            background: lighten($primaryColor, 5);
            width: 100%;
            height: 400%;
            top: -3em;
            left: -2.1em;
            transform: rotate(10deg);
            z-index: 1;
          }

          &:before {
            position: absolute;
            content: '';
            background: lighten($secondaryColor, 0);
            width: 100%;
            height: 400%;
            top: -3em;
            left: -32em;
            transform: rotate(10deg);
            z-index: 2;
            transition: 0.3s $cubic;
          }
        }

        p {
          @include text-line(2, 1.6em);
          color: #555;
          font-size: 0.938em;
          transform: translateY(-0.5em);
          padding-left: 1em;
          padding-right: 1em;
        }
      }
    }
  }

  @include screen('tablet') {
    .successCase {
      flex-wrap: nowrap;
      overflow-x: scroll;
      -ms-overflow-style: none;
      justify-content: flex-start;
      &::-webkit-scrollbar {
        display: none;
      }
      .item {
        min-width: 320px;

        a h3 {
          width: 100%;
          padding: 1em;

          &::before {
            transform: rotate(0);
          }

          &::after {
            transform: rotate(0);
            left: 0;
          }

          &:hover {
            &::before {
              left: 0;
            }
          }
        }
      }
    }
  }
}
.mt-success-case.full {
  .container {
    max-width: 1920px;
    .successCase {
      justify-content: flex-start;
      .item {
        flex-basis: 45%;
        margin: 0 2.5% 1em;
      }
      @include screen('desktop') {
        .item {
          flex-basis: 23%;
          margin: 0 1% 1em;
        }
      }
    }
  }
}

// .mt-success-case-mobile{
//     display: none;
//     @include screen('tablet') {
//         display: block;

//     }
//     .successCase {
//         .item{
//             margin: 0 1em !important;
//             @include screen('tablet'){
//                 margin: 0 0.5em !important;
//                 a h3{
//                     width: 100%;
//                     padding: 1em;
//                     &::before{
//                         display: none;
//                     }
//                     &:after{
//                         left: 0;
//                         transform: rotate(0);
//                     }
//                 }
//             }

//         }
//     }
//     @include screen('xs_mobile') {
//         .slick-dots{
//             position: relative !important;
//             bottom: 0 !important;
//         }
//     }
// }
