<!-- css -->
<link rel="stylesheet" href="components/mt-success-case/mt-success-case.css" />
<!-- mt-success-case -->
<div class="mt-success-case">
  <div class="container">
    <h2 class="mt-h2">
      <span>Success Stories</span>
    </h2>
    <div class="successCase">
      <div data-aos="fade-up" class="item">
        <a href="#">
          <div class="img-container">
            <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="images/case-pic01.jpg"
              />
              <source
                media="(min-width: 992px)"
                srcset="images/case-pic01.jpg"
              />
              <source
                media="(min-width: 576px)"
                srcset="images/case-pic01.jpg"
              />
              <source
                media="(max-width: 575px)"
                srcset="images/case-pic01.jpg"
              />
              <img data-src="images/case-pic01.jpg" class="lazy" />
              <noscript><img src="images/case-pic01.jpg" /></noscript>
            </picture>
          </div>
          <h3>
            <span
              >Taiwan MICE Awards The 4th World Conference of Women's Shelters
              Taiwan MICE Awards The 4th World Conference of Women's
              Shelters</span
            >
          </h3>
          <p>
            Impact * Solidarity" was the theme of the 4th World Conference of
            Women's Shelters held in Kaohsiung during November 5–8, 2019.
          </p>
        </a>
      </div>
      <div data-aos="fade-up" class="item">
        <a href="#">
          <div class="img-container">
            <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="images/case-pic02.jpg"
              />
              <source
                media="(min-width: 992px)"
                srcset="images/case-pic02.jpg"
              />
              <source
                media="(min-width: 576px)"
                srcset="images/case-pic02.jpg"
              />
              <source
                media="(max-width: 575px)"
                srcset="images/case-pic02.jpg"
              />
              <img data-src="images/case-pic02.jpg" class="lazy" />
              <noscript><img src="images/case-pic02.jpg" /></noscript>
            </picture>
          </div>
          <h3>
            <span
              >Taiwan MICE Awards The 4th World Conference of Women's Shelters
              Taiwan MICE Awards The 4th World Conference of Women's
              Shelters</span
            >
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            maiores corporis architecto. Similique facilis esse vitae corrupti
            dolorum dolorem odio quaerat! Beatae nostrum praesentium provident!
            Soluta laudantium fugiat laborum hic.
          </p>
        </a>
      </div>
      <div data-aos="fade-up" class="item">
        <a href="#">
          <div class="img-container">
            <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="images/case-pic03.jpg"
              />
              <source
                media="(min-width: 992px)"
                srcset="images/case-pic03.jpg"
              />
              <source
                media="(min-width: 576px)"
                srcset="images/case-pic03.jpg"
              />
              <source
                media="(max-width: 575px)"
                srcset="images/case-pic03.jpg"
              />
              <img data-src="images/case-pic03.jpg" class="lazy" />
              <noscript><img src="images/case-pic03.jpg" /></noscript>
            </picture>
          </div>
          <h3>
            <span
              >Taiwan MICE Awards The 4th World Conference of Women's Shelters
              Taiwan MICE Awards The 4th World Conference of Women's
              Shelters</span
            >
          </h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit,
            provident assumenda! Facere, omnis iusto eligendi at soluta nostrum
            quaerat commodi eius. Incidunt blanditiis obcaecati nihil amet
            voluptates repellat suscipit quam?
          </p>
        </a>
      </div>
      <div data-aos="fade-up" class="item">
        <a href="#">
          <div class="img-container">
            <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="images/case-pic04.jpg"
              />
              <source
                media="(min-width: 992px)"
                srcset="images/case-pic04.jpg"
              />
              <source
                media="(min-width: 576px)"
                srcset="images/case-pic04.jpg"
              />
              <source
                media="(max-width: 575px)"
                srcset="images/case-pic04.jpg"
              />
              <img data-src="images/case-pic04.jpg" class="lazy" />
              <noscript><img src="images/case-pic04.jpg" /></noscript>
            </picture>
          </div>
          <h3>
            <span
              >Taiwan MICE Awards The 4th World Conference of Women's Shelters
              Taiwan MICE Awards The 4th World Conference of Women's
              Shelters</span
            >
          </h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod quae
            porro, quisquam culpa, obcaecati nobis quaerat suscipit nesciunt
            inventore eveniet beatae magni excepturi perspiciatis voluptas
            consequatur earum maiores perferendis? Modi?
          </p>
        </a>
      </div>
    </div>
    <!-- more -->
    <a href="#" class="more"><span>more</span></a>
  </div>
</div>
