<!-- css -->
<link rel="stylesheet" href="components/mt-news-tab-3/mt-news-tab-3.css" />

<!-- mt-news-tab-3 -->
<div class="mt-news-tab-3">
  <div class="container">
    <div class="news-tab-3">
      <div class="tabSet">
        <h2 class="mt-h2">News</h2>
        <div class="nav-tab nav-tab3">
          <ul class="nav nav-list" role="tablist">
            <li class="nav-item">
              <button class="nav-link active">重大公告</button>
            </li>
            <li class="nav-item">
              <button class="nav-link">新聞專區</button>
            </li>
            <li class="nav-item">
              <button class="nav-link">活動資訊</button>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active">
              <ul>
                <li>
                  <time>2021/1/1</time>
                  <a href="#"
                    >Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Architecto explicabo ipsum vel dolorum, accusamus iusto
                    natus earum aut praesentium culpa a odio excepturi dolor
                    nemo quisquam maxime reiciendis itaque modi.</a
                  >
                </li>
                <li>
                  <time>2021/1/1</time>
                  <a href="#">的了才有樹位示法這綠以是記盡排的景</a>
                </li>
                <li>
                  <time>2021/1/1</time>
                  <a href="#"
                    >個外的隊個人學全一畫調臺常如市車……自於根決想輪你信</a
                  >
                </li>
                <li>
                  <time>2021/1/1</time>
                  <a href="#"
                    >也只標物學。許最可舞長這小幾五價黃識算們也護……中</a
                  >
                </li>
                <li>
                  <time>2021/1/1</time>
                  <a href="#">麼子有著他市在大思兒個一力車一房去生</a>
                </li>
              </ul>
              <a href="#" class="more"><span>more</span></a>
            </div>
            <div class="tab-pane">
              <ul>
                <li>
                  <time>2021/1/1</time>
                  <a href="#"
                    >比工說態他候紀全整使直裡，標以呢間的本切離風……我的鄉從國動經產從男面鄉錯我也了</a
                  >
                </li>
                <li>
                  <time>2021/1/1</time>
                  <a href="#"
                    >父未的了，我面筆地完體相，們朋今然帶，望一這記經行原總山人與地相觀時水了打、少旅歌月定男子們過念</a
                  >
                </li>
                <li>
                  <time>2021/1/1</time>
                  <a href="#">電走男我所合說親的教不：個以到得：石度本；</a>
                </li>
                <li>
                  <time>2021/1/1</time>
                  <a href="#">用習別線營傳。之也洋玩心的明開但現受師</a>
                </li>
                <li>
                  <time>2021/1/1</time>
                  <a href="#"
                    >同不辦情為越裡信臉了羅懷空主張文商然明的源教規坡</a
                  >
                </li>
              </ul>
              <a href="#" class="more"><span>more</span></a>
            </div>
            <div class="tab-pane">
              <ul>
                <li>
                  <time>2021/1/1</time>
                  <a href="#"
                    >3 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aut corrupti corporis culpa aliquam numquam iste,
                    repellendus aspernatur quae in. Ad perferendis facilis
                    facere quo eligendi rem ullam sunt velit quibusdam.</a
                  >
                </li>
                <li>
                  <time>2021/1/1</time>
                  <a href="#">庭會中布買器樣試學有我路任清</a>
                </li>
                <li>
                  <time>2021/1/1</time>
                  <a href="#"
                    >一奇萬所像水，話用至港了比定生象驗它他種家民想排星服車負識濟客是意</a
                  >
                </li>
                <li>
                  <time>2021/1/1</time>
                  <a href="#">看令國中吸濟紀。創的孩同以面引情上別文年會教</a>
                </li>
                <li>
                  <time>2021/1/1</time>
                  <a href="#">著人論較不從感者大海終議……飯看重雖然車然。而事</a>
                </li>
              </ul>
              <a href="#" class="more"><span>more</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
