<!-- css -->
<link rel="stylesheet" href="components/mt-wp/mt-wp.css" />

<!-- mt_wp -->
<div id="block01" class="mt-wp full">
  <div class="container">
    <div class="content">
      <div class="topBox">
        <div class="infoBox" data-aos="fade-right" data-aos-delay="0">
          <h3 class="title">深入瞭解<br />永續會展</h3>
          <div class="description">MEET TAIWAN致力於協助會展業者實踐永續理念，提供相關文件及資源，以建構產業生態系、創造價值，將永續理念融入會展產業，持續發揮影響力，落實綠色觀念，為未來世代維護環境平衡而努力。</div>
        </div>
        <div class="pdfBox" data-aos="fade-left" data-aos-delay="200">
          <iframe allowfullscreen="" frameborder="0" height="485" scrolling="no" src="//www.slideshare.net/slideshow/embed_code/key/8qwFC2UdpZGzFl" style="border: 1px solid #ccc; border-width: 1px; margin-bottom: 5px; max-width: 100%" width="595"></iframe>
        </div>
      </div>
      <div class="wpBox" data-aos="fade-up" data-aos-delay="400">
        <div class="item">
          <div class="pic"><img src="images/m1/wp.jpg" alt="" /></div>
          <div class="infoBox">
            <h3 class="title">Taiwan MICE Sustainability White Paper</h3>
            <div class="description">
              The "Taiwan MICE Sustainability White Paper" published in collaboration with the Global Association of the Exhibition Industry (UFI). This white paper showcases Taiwan's efforts and determination in promoting green MICE, continuing its outstanding performance internationally, and
              enhancing the visibility and global leadership position of Taiwan's MICE industry.
            </div>
            <div class="btnBox">
              <a href="#" target="_blank">Learn more</a>
              <a href="#" target="_blank">Download</a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="pic"><img src="images/m1/wp.jpg" alt="" /></div>
          <div class="infoBox">
            <h3 class="title">
              Taiwan MICE Sustainability<br />
              Best Practices 2023
            </h3>
            <div class="description">Explore Taiwan's leading examples of MICE (Meetings, Incentives, Conferences, and Exhibitions) sustainability in our 2024 report, showcasing 8 exceptional case studies that demonstrate the island's commitment to eco-friendly event practices.</div>
            <div class="btnBox">
              <a href="#" target="_blank">Learn more</a>
              <a href="#" target="_blank">Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
