<!-- css -->
<link rel="stylesheet" href="components/mt-news-tab-2/mt-news-tab-2.css" />
<!-- mt-news-tab-2 -->
<!-- 沒有照片時 多 class no-img  -->
<div class="mt-news-tab-2 no-img">
  <div class="container">
    <div class="news-tab-2">
      <div class="newsContent">
        <h2 class="mt-h2">News</h2>
        <ul>
          <li>
            <time>2021/1/1</time>
            <!-- category -->
            <div class="mt-tab-category">
              <ul>
                <li><a href="#">新聞</a></li>
                <!-- <li><a href="#">展覽</a></li> -->
              </ul>
            </div>
            <a href="#"
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Architecto explicabo ipsum vel dolorum, accusamus iusto natus
              earum aut praesentium culpa a odio excepturi dolor nemo quisquam
              maxime reiciendis itaque modi.</a
            >
          </li>
          <li>
            <time>2021/1/1</time>
            <!-- category -->
            <div class="mt-tab-category">
              <ul>
                <li><a href="#">活動資訊</a></li>
              </ul>
            </div>
            <a href="#">的了才有樹位示法這綠以是記盡排的景</a>
          </li>
          <li>
            <time>2021/1/1</time>
            <!-- category -->
            <div class="mt-tab-category">
              <ul>
                <li><a href="#">活動資訊</a></li>
              </ul>
            </div>
            <a href="#">個外的隊個人學全一畫調臺常如市車……自於根決想輪你信</a>
          </li>
          <li>
            <time>2021/1/1</time>
            <!-- category -->
            <div class="mt-tab-category">
              <ul>
                <li><a href="#">活動資訊</a></li>
              </ul>
            </div>
            <a href="#">也只標物學。許最可舞長這小幾五價黃識算們也護……中</a>
          </li>
          <li>
            <time>2021/1/1</time>
            <!-- category -->
            <div class="mt-tab-category">
              <ul>
                <li><a href="#">重要公告</a></li>
              </ul>
            </div>
            <a href="#">麼子有著他市在大思兒個一力車一房去生</a>
          </li>
        </ul>
        <a href="#" class="more"><span>more</span></a>
      </div>
      <!-- feature news -->
      <div class="feature">
        <div class="img-container">
          <a href="#" title="">
            <picture>
              <source
                media="(min-width: 1200px)"
                data-srcset="images/tabs-2-bg.jpg"
              />
              <source
                media="(min-width: 992px)"
                data-srcset="images/tabs-2-bg.jpg"
              />
              <source
                media="(min-width: 576px)"
                data-srcset="images/tabs-2-bg.jpg"
              />
              <source
                media="(max-width: 575px)"
                data-srcset="images/tabs-2-bg.jpg"
              />
              <img data-src="images/tabs-2-bg.jpg" class="lazy" />
              <noscript><img src="images/tabs-2-bg.jpg" /></noscript>
            </picture>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
