@import '../../sass/variable'; //Variable
@import '../../sass/mixin'; //Mixin
.mt-fatfooter {
  padding: 0 2em 2em;
  background-color: #f1f1f1;
  position: relative;
  z-index: 1;
  @include screen('mobile') {
    padding: 0 0 2em;
  }
  .container {
    width: 100%;
    display: flex;
    position: relative;
    padding-top: 2.5em;
  }
  // toggleBtn
  .toggleBtn {
    position: absolute;
    width: 4em;
    height: 2em;
    background: transparent;
    top: 0em;
    margin-left: -2em;
    left: 50%;
    background-color: #ddd;
    &:before {
      position: absolute;
      content: '';
      border: 3px solid #aaa;
      border-left: none;
      border-top: none;
      width: 1em;
      height: 1em;
      top: -0.9em;
      transform: translate(1.4em, 1.6em) rotate(-135deg);
    }
    &.close {
      &:before {
        top: -1.1em;
        transform: translate(1.4em, 1.2em) rotate(45deg);
      }
    }
  }
  // 目錄
  ul {
    @include li-reset;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    li {
      flex-basis: 20%;
      flex-grow: 0;
      flex-shrink: 1;
      padding: 0 0.75em;
      @include screen('tablet') {
        flex-basis: 33%;
        margin-bottom: 0.5em;
      }
      @include screen('mobile') {
        flex-basis: 100%;
      }
      a {
        font-size: 1.25em;
        font-weight: bold;
        margin-bottom: 0.5em;
        line-height: 1.35;
        color: #333;
        @include screen('xs_mobile') {
          font-size: 1.25em;
          color: #666;
          margin: 0;
        }
        &:hover,
        &:focus {
          color: $aHover;
        }
      }
    }
    ul {
      display: block;
      margin: 0 0 0.5em 0;
      li {
        width: auto;
        padding: 0;
        margin-bottom: 0.5em;
        position: relative;
        @include screen('xs_mobile') {
          display: inline-block;
          margin: 0 0.5em 0 0;
        }
        &:before {
          position: absolute;
          content: '';
          width: 0.35em;
          height: 2px;
          background: $aHover;
          left: -2em;
          top: 0.6em;
          opacity: 0;
          transition: 0.3s ease-out;
          @include screen('xs_mobile') {
            display: none;
          }
        }
        &:hover {
          &:before {
            left: -0.75em;
            opacity: 1;
          }
        }
        a {
          font-size: 0.875em;
          line-height: 1.5;
          font-weight: normal;
          color: #888;
          &:hover,
          &:focus {
            color: $aHover;
          }
        }
        ul {
          margin-left: 1em;
          @include screen('mobile') {
            margin-left: 0;
          }
        }
      }
    }
    a {
      display: block;
      color: #555;
      &:hover,
      &:focus {
        color: $aHover;
      }
    }
  }
}
