<!-- css -->
<link rel="stylesheet" href="components/mt-slider-col-1/mt-slider-col-1.css" />
<!-- mt-slider-col-1 -->
<div class="mt-slider-col-1">
  <div class="container">
    <div class="slider-col-1">
      <div class="col">
        <h2 class="mt-h2">
          <span>Contact Us</span>
        </h2>
        <a href="#" class="more">
          <span>mail</span>
        </a>
      </div>
      <div class="col">
        <h3>
          我們提供客制化服務， 請提供您規劃辦理活動之詳細資訊填妥回傳，
          我們將有專人為您服務。
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
          accusantium nulla hic sequi error est, nisi nostrum quas ipsum dolore,
          nam atque maxime culpa sapiente mollitia voluptate a? Fugit, dolore.
        </p>
      </div>
    </div>
  </div>
  <div class="mt-slider-col-1">
    <div class="container">
      <div class="slider-col-1">
        <div class="col">
          <h2 class="mt-h2">CONTACT</h2>
          <p>
            歡迎您使用台灣會展網業者徵詢服務<span
            ></span>請提供您規劃辦理活動之詳細資訊
            <span></span>填妥回傳我們將提供給您合適的合作夥伴 並有專人為您服務
          </p>
        </div>
        <div class="col">
          <a href="#" class="more">
            <span>徵求業者服務</span>
          </a>
        </div>
      </div>
    </div>
    <div class="img-container">
      <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="images/contanceUs_bg_lg.jpg"
        />
        <source media="(min-width: 992px)" srcset="images/contanceUs_bg.jpg" />
        <source media="(min-width: 576px)" srcset="images/contanceUs_bg.jpg" />
        <source media="(max-width: 575px)" srcset="images/contanceUs_bg.jpg" />
        <img data-src="images/contanceUs_bg.jpg" class="lazy" />
        <noscript><img src="images/contanceUs_bg.jpg" /></noscript>
      </picture>
    </div>
  </div>
</div>
