<!-- css -->
<link rel="stylesheet" href="components/mt-slider-grid/mt-slider-grid.css" />
<!-- mt-slider-grid -->
<div class="mt-slider-grid">
  <div class="container">
    <h2 class="mt-h2">
      <span>Fun Taiwan</span>
    </h2>
    <!-- slider-grid -->
    <div class="slider-grid">
      <div data-aos="fade-up" data-aos-delay="500" class="item full">
        <a href="#">
          <div class="img-container">
            <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="images/slider-pic01.jpg"
              />
              <source
                media="(min-width: 992px)"
                srcset="images/slider-pic01.jpg"
              />
              <source
                media="(min-width: 576px)"
                srcset="images/slider-pic01.jpg"
              />
              <source
                media="(max-width: 575px)"
                srcset="images/slider-pic01.jpg"
              />
              <img data-src="images/slider-pic01.jpg" class="lazy" />
              <noscript><img src="images/slider-pic01.jpg" /></noscript>
            </picture>
          </div>
          <div class="capton">
            <div class="">
              <h3>Food</h3>
              <p>
                Eat, Love, and Pray…For More! Foodies love Taiwan as it a major
                source of mouthwatering cuisine and gourmet dishes to die for.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div data-aos="fade-up" data-aos-delay="750" class="item">
        <a href="#">
          <div class="img-container">
            <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="images/slider-pic02.jpg"
              />
              <source
                media="(min-width: 992px)"
                srcset="images/slider-pic02.jpg"
              />
              <source
                media="(min-width: 576px)"
                srcset="images/slider-pic02.jpg"
              />
              <source
                media="(max-width: 575px)"
                srcset="images/slider-pic02.jpg"
              />
              <img data-src="images/slider-pic02.jpg" class="lazy" />
              <noscript><img src="images/slider-pic02.jpg" /></noscript>
            </picture>
          </div>
          <div class="capton">
            <div class="">
              <h3>HAVE FUN</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptates illo delectus suscipit, quas nam rem voluptatibus
                ipsa. Libero placeat, veniam deleniti autem nesciunt dolore id
                dicta consequuntur, ab ducimus voluptas.
              </p>
            </div>
          </div>
        </a>
      </div>
      <div data-aos="fade-up" data-aos-delay="750" class="item">
        <a href="#">
          <div class="img-container">
            <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="images/slider-pic03.jpg"
              />
              <source
                media="(min-width: 992px)"
                srcset="images/slider-pic03.jpg"
              />
              <source
                media="(min-width: 576px)"
                srcset="images/slider-pic03.jpg"
              />
              <source
                media="(max-width: 575px)"
                srcset="images/slider-pic03.jpg"
              />
              <img data-src="images/slider-pic03.jpg" class="lazy" />
              <noscript><img src="images/slider-pic03.jpg" /></noscript>
            </picture>
          </div>
          <div class="capton">
            <div class="">
              <h3>HOTEL</h3>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Recusandae officia quas quae, et quisquam, pariatur maxime
                consectetur perferendis vel eveniet, sint impedit. Vel sequi sed
                fugit iure quos numquam impedit.
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- more -->
    <a href="#" class="more">
      <span>more</span>
    </a>
  </div>
</div>
