<!-- css -->
<link rel="stylesheet" href="components/mt-sirco/mt-sirco.css" />

<!-- mt_sirco -->
<div class="mt-sirco full">
  <div class="container">
    <div class="content">
      <h3 class="title" data-aos="fade-left" data-aos-delay="0">SIRCO</h3>
      <ul>
        <li data-aos="fade-left" data-aos-delay="200">
          <div class="pic"><img src="images/m1/sirco_icon01.png" alt="" /></div>
          <div class="title">Sustainability</div>
        </li>
        <li data-aos="fade-left" data-aos-delay="400">
          <div class="pic"><img src="images/m1/sirco_icon02.png" alt="" /></div>
          <div class="title">Impact</div>
        </li>
        <li data-aos="fade-left" data-aos-delay="600">
          <div class="pic"><img src="images/m1/sirco_icon03.png" alt="" /></div>
          <div class="title">Resilience</div>
        </li>
        <li data-aos="fade-left" data-aos-delay="800">
          <div class="pic"><img src="images/m1/sirco_icon04.png" alt="" /></div>
          <div class="title">Collaboration</div>
        </li>
        <li data-aos="fade-left" data-aos-delay="1000">
          <div class="pic"><img src="images/m1/sirco_icon05.png" alt="" /></div>
          <div class="title">Ownership</div>
        </li>
      </ul>
    </div>
  </div>
</div>
