@import '../../sass/_variable'; //Variable
@import '../../sass/_mixin'; //Mixin

// mt-news-tab-1
.mt-news-tab-1 {
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    margin-top: 2em;
    &:after {
        position: absolute;
        content: '';
        width: 300%;
        top: 3em;
        left: 25%;
        bottom: 3em;
        background-color: #fff;
        z-index: 0;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

        // box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 60px -12px, rgba(0, 0, 0, 0.3) 0px 0px 36px -18px;
        @include screen('tablet') {
            left: 2em;
            bottom: 0;
            
        }

        @include screen('xs_mobile') {
            display: none;
        }
        // @media only screen and (min-width: 2000px){
        //     max-width: 62%;
        //     right: 0;
        //     left: unset;
        // }
    }

    .container {
        margin-bottom: 3em;
        padding: 2em 0em 0;

        position: relative;
        z-index: 1;

        @include screen('mobile') {
            margin-bottom: 3em;
            padding: 4em 0em 0;
        }

        @include screen('xs_mobile') {
            padding: 2em 1em 0;
        }

        h2.mt-h2 {
            text-align: left;

            &:after {
                left: 0;
                margin-left: 0;
            }

            @include screen('tablet') {
                text-align: center;

                &:after {
                    left: 50%;
                    margin-left: -80px;
                }
            }
        }

        .news-tab-1 {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            position: relative;
            width: 100%;

            .feature {
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 30%;
                max-width: 30%;
                transform: translate(-2em, -2em);
                margin-left: 3.6em;
                z-index: 2;
                position: relative;

                @include screen('tablet') {
                    display: none;
                }

                .img-container {
                    width: 100%;
                    height: auto;
                    @include aspect-ratio(4, 5);

                    img {
                        object-fit: cover;
                        transition: .3s ease-out;
                    }

                    a {
                        display: block;

                        &:hover,
                        &:focus {
                            img {
                                transform: scale(1.1);
                            }
                        }

                        ;
                    }

                    .caption {
                        position: absolute;
                        width: 100%;
                        height: auto;
                        padding-top: 10%;
                        padding: 1em 1.5em;
                        background: rgb(0, 0, 0);
                        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 22%, rgba(0, 0, 0, 0) 100%);
                        bottom: 0;
                        left: 0;
                        z-index: 2;

                        time {
                            display: block;
                            color: #fff;
                            text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.85);
                            font-size: 0.875em;
                        }

                        h3 {
                            @include text-line(3, 1.35em);
                            color: #fff;
                            text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.85);
                        }
                    }
                }
            }

            .tabSet {
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: auto;
                align-self: flex-start;
                max-width: 100%;
                padding: 2em 1em 2em 1em;
                margin: 0;
                position: relative;
                width: 0;

                @include screen('tablet') {
                    max-width: 100%;
                    // padding: 1em 0;
                    flex-grow: unset;
                    width: 80%;
                }

                @include screen('xs_mobile') {
                    width: 100%;
                }

                .nav-tab {
                    .nav {
                        display: flex;
                        flex-wrap: wrap;
                        padding-left: 0;
                        margin-bottom: 1em;
                        list-style: none;
                    }

                    .nav-list {
                        width: 100%;
                        flex-wrap: nowrap;

                        @include screen('mobile') {
                            width: auto;
                            flex-wrap: wrap;
                        }

                        .nav-item {
                            // background: darken(#f1f1f1, 5%);
                            background: #aaa;
                            color: #fff;
                            flex: 1 0 auto;
                            position: relative;
                            border-bottom: 0;

                            @include screen('mobile') {
                                border: 0px;
                                border-bottom: 1px #ccc solid;
                                margin: 0 1px;
                                width: 33.333%;

                                &::before {
                                    display: none;
                                }
                            }

                            button {
                                border-radius: 0mm;
                                margin: 0;
                                width: 100%;
                                height: 100%;
                                padding: 0.7em 0.5em;
                                color: #fff;
                                font-weight: 500;




                            }
                        }

                        .nav-link.active {
                            background: $primaryColor;
                            color: #fff;
                            height: 100%;

                            @include screen('mobile') {
                                // color: #fff;
                                background-color: $primaryColor;

                                &:hover {
                                    color: #fff;

                                }
                            }

                        }

                    }

                    .tab-content {
                        padding: 0 1em;

                        .tab-pane {
                            display: none;
                        }

                        .active {
                            display: block;
                        }

                        ul {
                            li {
                                margin-bottom: 0.75em;
                                border: none;

                                time {
                                    display: block;
                                    margin: 0;
                                    font-size: 0.813em;
                                    color: #666;
                                }

                                a {
                                    font-weight: bold;
                                    display: block;
                                    color: #333;
                                    position: relative;
                                    padding-bottom: 0.25em;
                                    @include text-overflow;

                                    &:before {
                                        position: absolute;
                                        content: '';
                                        width: 100%;
                                        height: 1px;
                                        bottom: 0;
                                        left: 0;
                                        background: #ddd;
                                    }

                                    &:after {
                                        position: absolute;
                                        content: '';
                                        width: 0em;
                                        height: 2px;
                                        bottom: -1px;
                                        right: 0;
                                        background: $secondaryColor;
                                        transition: 0.3s $cubic;
                                    }

                                    &:hover,
                                    &:focus {
                                        color: $aHover;

                                        &:after {
                                            width: 3em;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // .tabSet {
            //     flex-grow: 1;
            //     flex-shrink: 1;
            //     flex-basis: auto;
            //     align-self: flex-start;
            //     max-width: 62%;
            //     padding: 3em 1em 0em 1em;
            //     margin: 0;
            //     position: relative;
            //     width: 0;

            //     @include screen('tablet') {
            //         max-width: 100%;
            //         padding: 3em 3em 1em 4em;
            //     }
            //     @include screen('xs_mobile') {
            //         padding: 1em 2em;
            //         background: #fff;
            //         box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 60px -12px, rgba(0, 0, 0, 0.3) 0px 0px 36px -18px;
            //     }
            //     .tabs {
            //         position: relative;
            //         z-index: 3;
            //         .tabItem {
            //             a {
            //                 background: #f1f1f1;
            //                 color: #888;
            //             }
            //             &.active {
            //                 a {
            //                     background: $primaryColor;
            //                     color: #fff;
            //                 }
            //             }
            //         }
            //         .tabContent {
            //             padding: 1em 0em;
            //             ul {
            //                 li {
            //                     margin-bottom: 0.75em;
            //                     border: none;
            //                     time {
            //                         display: block;
            //                         margin: 0;
            //                     }
            //                     a {
            //                         font-weight: bold;
            //                         display: block;
            //                         color: #333;
            //                         position: relative;
            //                         padding-bottom: 0.25em;
            //                         @include text-overflow;
            //                         &:before {
            //                             position: absolute;
            //                             content: '';
            //                             width: 100%;
            //                             height: 1px;
            //                             bottom: 0;
            //                             left: 0;
            //                             background: #ddd;
            //                         }
            //                         &:after {
            //                             position: absolute;
            //                             content: '';
            //                             width: 0em;
            //                             height: 2px;
            //                             bottom: -1px;
            //                             right: 0;
            //                             background: $secondaryColor;
            //                             transition: 0.3s $cubic;
            //                         }
            //                         &:hover,
            //                         &:focus {
            //                             color: $aHover;
            //                             &:after {
            //                                 width: 3em;
            //                             }
            //                         }
            //                     }
            //                 }
            //             }
            //         }
            //     }
            // }
        }
    }
}

.mt-news-tab-1.no-img {
    margin-top: 0;
    .container {
        .news-tab-1 {
            padding: 0em 2em;

        }

        .feature {
            display: none;
        }

        .tabSet {
            padding: 3em;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

            @include screen('tablet') {
                max-width: 100%;
                // padding: 1em 0;
                flex-grow: unset;
                width: 100%;
            }
            @include screen('xs_mobile'){
                padding: 2em 1em 2em 1em;
            }  


        }
        @include screen('xs_mobile'){
            .news-tab-1{
                padding: 0;
            }
          
        }
    }

    &::after {
        box-shadow: unset;
    }
}
.mt-news-tab-1.full{
	.container{
        max-width: 1920px;
        .news-tab-1 .tabSet{
            padding: 4em 1em 2em 1em;
        }
    }
}
