<!-- css -->
<link rel="stylesheet" href="components/mt-news-tab-1/mt-news-tab-1.css" />
<!-- mt-news-tab-1 -->
<div class="mt-news-tab-1">
  <div class="container">
    <div class="news-tab-1">
      <!-- feature news -->
      <div class="feature">
        <div class="img-container">
          <a href="#" title="">
            <picture>
              <source
                media="(min-width: 1200px)"
                data-srcset="images/news-pic01.jpg"
              />
              <source
                media="(min-width: 992px)"
                data-srcset="images/news-pic01.jpg"
              />
              <source
                media="(min-width: 576px)"
                data-srcset="images/news-pic01.jpg"
              />
              <source
                media="(max-width: 575px)"
                data-srcset="images/news-pic01.jpg"
              />
              <img data-src="images/news-pic01.jpg" class="cover lazy" />
              <noscript><img src="images/news-pic01.jpg" /></noscript>
            </picture>
            <div class="caption">
              <time>2022-01-01</time>
              <h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Corporis quidem maxime, autem nulla, vel ipsum numquam, in quae
                nostrum non pariatur blanditiis voluptate error illo suscipit
                eligendi! Voluptate, voluptatum soluta.
              </h3>
            </div>
          </a>
        </div>
      </div>
      <!-- tab Start -->
      <div class="tabSet">
        <h2 class="mt-h2">News</h2>
        <section class="tabs">
          <div class="tabItem active"><a href="#">第一個頁籤</a></div>
          <!--選到的頁籤項目-->
          <div class="tabContent">
            <ul>
              <li>
                <time>2021/1/1</time>
                <a href="#"
                  >Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Architecto explicabo ipsum vel dolorum, accusamus iusto natus
                  earum aut praesentium culpa a odio excepturi dolor nemo
                  quisquam maxime reiciendis itaque modi.</a
                >
              </li>
              <li>
                <time>2021/1/1</time>
                <a href="#">的了才有樹位示法這綠以是記盡排的景</a>
              </li>
              <li>
                <time>2021/1/1</time>
                <a href="#"
                  >個外的隊個人學全一畫調臺常如市車……自於根決想輪你信</a
                >
              </li>
              <li>
                <time>2021/1/1</time>
                <a href="#">也只標物學。許最可舞長這小幾五價黃識算們也護……中</a>
              </li>
              <li>
                <time>2021/1/1</time>
                <a href="#">麼子有著他市在大思兒個一力車一房去生</a>
              </li>
            </ul>
            <a href="#" class="more"><span>more</span></a>
          </div>
          <div class="tabItem"><a href="#">第二個頁籤</a></div>
          <div class="tabContent">
            <ul>
              <li>
                <time>2021/1/1</time>
                <a href="#"
                  >比工說態他候紀全整使直裡，標以呢間的本切離風……我的鄉從國動經產從男面鄉錯我也了</a
                >
              </li>
              <li>
                <time>2021/1/1</time>
                <a href="#"
                  >父未的了，我面筆地完體相，們朋今然帶，望一這記經行原總山人與地相觀時水了打、少旅歌月定男子們過念</a
                >
              </li>
              <li>
                <time>2021/1/1</time>
                <a href="#">電走男我所合說親的教不：個以到得：石度本；</a>
              </li>
              <li>
                <time>2021/1/1</time>
                <a href="#">用習別線營傳。之也洋玩心的明開但現受師</a>
              </li>
              <li>
                <time>2021/1/1</time>
                <a href="#">同不辦情為越裡信臉了羅懷空主張文商然明的源教規坡</a>
              </li>
            </ul>
            <a href="#" class="more"><span>more</span></a>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
