@import '../../sass/_variable'; //Variable
@import '../../sass/_mixin'; //Mixin
// mt-igwall
.mt-igwall {
    .container {
        padding: 2em 0;
    }
    .ig_api {
        text-align: center;
        min-height: 300px;
    }
}
