@import '../../sass/variable'; //Variable
@import '../../sass/mixin'; //Mixin

// mt-entrance
.mt-entrance {
    position: fixed;
    transform: translate3d(0, 0, 0);
    background: RGBA(238, 238, 238, 0.9);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    &:before {
        position: fixed;
        transform: translate3d(0, 0, 0);
        content: '';
        top: 0em;
        left: 0.5em;
        width: 220px;
        height: 100px;
        background: url(../images/mt_logo.png) no-repeat center center;
        background-size: contain;
        @include screen('tablet') {
            width: 120px;
            height: 50px;
            top: 0.5em;
        }
    }
    a.close {
        width: 36px;
        height: 36px;
        position: fixed;
        top: 0.6em;
        right: 0.65em;
        i {
            font-size: 2em;
            color: #555;
            opacity: 0.8;
        }
        &:hover,
        &:focus {
            i {
                color: $aHover;
            }
        }
        @include screen('xs_mobile') {
            top: 1em;
            right: 0.5em;
        }
    }
    .container {
        flex-wrap: wrap;
        max-width: $container-max;
        margin: 5% auto;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 2;
        height: calc(100% - 100px);
        overflow-x: hidden !important;
        overflow-y: auto !important;
        @include screen('tablet') {
            flex-flow: row wrap;
            // display: block;
            margin: 0;
            position: fixed;
            top: 3.5em;
            left: 2em;
            right: 2em;
            height: calc(100% - 100px);
            overflow-x: hidden !important;
            overflow-y: auto !important;
            -webkit-overflow-scrolling: touch;
            -webkit-transform: translate3d(0, 0, 0);
        }
        .item {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 30%;
            max-width: 40%;
            margin: 0 1em 1em;
            min-height: 30em;
            max-width: 25em;
            display: flex;
            margin-bottom: 2em;
            @include screen('tablet') {
                flex-grow: 0;
                // flex-shrink: 1;
                flex-basis: 100%;
            
                margin-bottom: 2em;
                
            }
            @include screen('mobile'){
                min-height: 23em;
            }
            a {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 100%;
                position: relative;
                align-self: stretch;
            }
            .flip-box {
                -ms-transform-style: preserve-3d;
                transform-style: preserve-3d;
                -webkit-transform-style: preserve-3d;
                perspective: 1000px;
                -webkit-perspective: 1000px;
                position: relative;
                -webkit-backface-visibility: hidden;
                // flex-grow: 0;
                // flex-shrink: 1;
                // flex-basis: 26%;
                // margin: 0 3.5% 1em;
                // @include screen('tablet') {
                //     flex-basis: 30%;
                //     margin: 0 1.5% 1em;
                // }
                // @include screen('mobile') {
                //     flex-basis: 90%;
                //     margin: 0 auto 1em;
                // }
            }

            .flip-box-front,
            .flip-box-back {
                background-color: #fff;
                background-size: cover;
                background-position: center;
                border-radius: 0.5em;
                min-height: 30em;
                -ms-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
                transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
                -webkit-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                box-shadow: rgba(17, 12, 46, 0.15) 0px 12px 30px 0px;
                @include screen('mobile') {
                    min-height: 22em;
                }
            }

            .flip-box-front {
                -ms-transform: rotateY(0deg);
                -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
                -webkit-transform-style: preserve-3d;
                -ms-transform-style: preserve-3d;
                transform-style: preserve-3d;
                backface-visibility: hidden;
                h3 {
                    color: #333;
                }
                .flip-box p {
                    color: #888;
                }
            }

            // .flip-box:hover .flip-box-front {
            //     -ms-transform: rotateY(-180deg);
            //     -webkit-transform: rotateY(-180deg);
            //     transform: rotateY(-180deg);
            //     -webkit-transform-style: preserve-3d;
            //     -ms-transform-style: preserve-3d;
            //     transform-style: preserve-3d;
            // }

            .flip-box-back {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                // backface-visibility: hidden;
                // -ms-transform: rotateY(180deg);
                // -webkit-transform: rotateY(180deg);
                // transform: rotateY(180deg);
                // -webkit-transform-style: preserve-3d;
                // -ms-transform-style: preserve-3d;
                // transform-style: preserve-3d;

                background: #fff;
                // background: #000;
                h3 {
                    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.85);
                }
                .flip-box-header {
                    &:after {
                        background: #fff;
                    }
                }
                p {
                    color: #fff !important;
                    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.85);
                }
                .img-container {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 0.5em;
                    overflow: hidden;
                    opacity: 0.8;
                    transition: all 0.5s;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 0.5em;
                        transition: all 0.5s;
                       
                    }
                }
                &:hover{
                    img{
                      object-position:center;
                      transition: all 0.5s;
                      transform: scale(1.1);
                    }
                    .img-container{
                        opacity: 1;
                    }
                  }
            }

            // .flip-box:hover .flip-box-back {
            //     -ms-transform: rotateY(0deg);
            //     -webkit-transform: rotateY(0deg);
            //     transform: rotateY(0deg);
            //     -webkit-transform-style: preserve-3d;
            //     -ms-transform-style: preserve-3d;
            //     transform-style: preserve-3d;
            // }

            .flip-box .inner {
                position: absolute;
                left: 0;
                width: 100%;
                padding: 1em 2em;
                outline: 1px solid transparent;
                -webkit-perspective: inherit;
                perspective: inherit;
                z-index: 2;
                text-align: center;
                transform: translateY(-50%) translateZ(60px) scale(0.94);
                -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
                -ms-transform: translateY(-50%) translateZ(60px) scale(0.94);
                top: 35%;
                backface-visibility: hidden;
                @include screen('tablet') {
                    padding: 1em 2em;
                }
                @include screen('xs_mobile') {
                    padding: 1em 2em;
                    top: 50%;
                }
            }

            .flip-box-header {
                font-size: 2em;
                color: #fff;
                position: relative;
                &:after {
                    position: absolute;
                    content: '';
                    width: 100px;
                    height: 3px;
                    left: 50%;
                    bottom: -0.25em;
                    margin-left: -50px;
                    background: lighten($primaryColor, 15);
                }
                span {
                    @include text-line(2, 1.45em);
                }
                @include screen('mobile') {
                    font-size: 1.75em;
                }
            }

            .flip-box p {
                font-size: 1em;
                line-height: 1.5em;
                color: #888;
                @include text-line(4, 1.45em);
            }
            .flip-box-button {
                background-color: transparent;
                border: 2px solid #fff;
                border-radius: 2px;
                color: #fff;
                cursor: pointer;
                font-size: 20px;
                font-weight: bold;
                margin-top: 25px;
                padding: 15px 20px;
                text-transform: uppercase;
            }
            // a {
            //     background: #fff;
            //     box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            //         rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            //     padding: 2em;
            //     text-align: center;
            //     transition: 0.3s $cubic;
            //     align-self: stretch;
            //     &:hover,
            //     &:focus {
            //         box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 1px 0px inset,
            //             rgba(50, 50, 93, 0.4) 0px 50px 100px -20px, rgba(0, 0, 0, 0.6) 0px 30px 60px -30px;
            //     }
            //     h3.mt-h3 {
            //         color: #222;
            //         font-size: 2em;
            //         position: relative;
            //         margin: 0 auto 1em;
            //         span {
            //             @include text-line(2, 1.45em);
            //             height: 2.9em;
            //         }
            //         &:after {
            //             position: absolute;
            //             content: '';
            //             width: 50%;
            //             left: 50%;
            //             margin-left: -25%;
            //             bottom: -0.5em;
            //             border-top: 3px solid $primaryColor;
            //         }
            //     }
            //     p {
            //         width: 90%;
            //         color: #666;
            //         line-height: 1.5em;
            //         margin: 2em auto 1em;
            //     }
            // }
        }
        .entrance-title{
            width: 100%;
            display: flex;
            justify-content: center;
            h2{
                text-align: center;
                margin-bottom: 1.5em;
                border-bottom: 3px solid rgb(176, 176, 176);
                padding-bottom: 10px;
                align-items: flex-end;
                display: flex;
                width: 50%;
                line-height: 1.5em;
                @include screen('mobile'){
                    width: 100%;
                } 
            }
            span{
                display: block;
                margin-bottom: 0.5em;
            }
            @include screen('tablet'){
                line-height: 2em;
            } 
        }
    }
    
}
