@import '../../sass/_variable'; //Variable
@import '../../sass/_mixin'; //Mixin

// scrollTop
.mt-slider-pic-right {
    .container {
        padding: 0em 2em;
        min-height: 25em;
        margin-top: 2em;
        @include screen('mobile') {
            // padding: 1em 2em;
            padding: 1em 1em;
        }

        .slider-pic-right {
            margin-bottom: 4em;

            @include screen('mobile') {
                box-shadow: rgba(50, 50, 93, 0.125) 0px 5px 27px -5px, rgba(0, 0, 0, 0.2) 0px 8px 16px -8px;
            }

            .slick-dots {
                bottom: -2em;
                z-index: 1;

                @include screen('mobile') {
                    bottom: -3em;
                    left: -1em;
                }

                // @include screen('mobile') {
                //     display: none !important;
                // }
            }

            .item {
                overflow: hidden;
                display: flex;
                background-color: #fff;
            }

            .slick-prev {
                top: auto;
                bottom: 15px;
                left: 15px;
                z-index: 2;

                @include screen('mobile') {
                    bottom: -65px;
                    left: 50%;
                    right: auto;
                    margin-left: -55px;
                    display: none !important;
                }
            }

            .slick-next {
                top: auto;
                bottom: 15px;
                left: 80px;
                z-index: 2;

                @include screen('mobile') {
                    bottom: -65px;
                    left: 50%;
                    margin-left: 5px;
                    display: none !important;
                }
            }
        }

        .slider-pic {
            display: flex;
            flex-flow: row wrap;
            align-items: stretch;
            position: relative;
            width: 100%;
            @include screen('mobile') {
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            }

            .info {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 80%;
                position: relative;
                overflow: hidden;
                min-height: 27em;
                padding: 3em 30% 2em 2em;
                z-index: 2;
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                @include screen('mobile') {
                    order: 2;
                    padding: 1em;
                    flex-grow: 1;
                    flex-basis: 100%;
                    // min-height: auto;
                    min-height: 15em;
                }

                &:before {
                    position: absolute;
                    top: -50%;
                    right: 20%;
                    width: 150%;
                    height: 250%;
                    content: '';
                    z-index: -1;
                    transform-origin: right top;
                    transform: rotate(10deg);
                    background: rgb(187, 193, 197);
                    background: linear-gradient(-10deg, rgba(187, 193, 197, 1) 20%, rgba(255, 255, 255, 1) 50%);
                    // background: linear-gradient(-10deg, rgba(187, 193, 197, 1) 20%, rgba(255, 255, 255, 1) 50%);

                    @include screen('tablet') {
                        right: 15%;
                    }

                    @include screen('mobile') {
                        display: none;
                    }
                }

                &:after {
                    position: absolute;
                    content: '';
                    right: 22%;
                    top: 0;
                    z-index: -2;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 20px 30px 20px;
                    border-color: transparent transparent #7c7c7c transparent;

                    @include screen('tablet') {
                        right: 19%;
                    }

                    @include screen('mobile') {
                        display: none;
                    }
                }

                .more {
                    margin: 0.25em 0.25em 0.25em auto;
                    z-index: 1;
                }

                h2.mt-h2 {
                    text-align: left;
                    margin-bottom: 1em;
                    font-size: 2em;

                    span {
                        @include text-line(3, 1.25em);
                    }

                    @include screen('tablet') {
                        font-size: 1.75em;
                    }

                    @include screen('xs_mobile') {
                        bottom: 0;
                        font-size: 1.5em;
                    }

                    &:after {
                        margin-left: 0;
                        left: 0;
                        bottom: -0.25em;
                    }
                }

                p {
                    @include text-line(6, 1.6em);
                    margin-bottom: 1em;
                    color: #555;
                    font-size: 0.875em;

                    @include screen('mobile') {
                        @include text-line(3, 1.45em);
                    }
                }
            }

            .img-container {
                margin: 0;
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 1;
                width: 50%;
                height: calc(100% - 30px);

                &.effect {
                    animation: fadeInLeft 1s 0.5s both $cubic;
                }

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                @include screen('mobile') {
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: 30%;
                    position: relative;
                    bottom: auto;
                    width: 100%;
                    height: auto;
                    order: 0;
                    @include aspect-ratio(16, 10);

                    &.effect {
                        animation: none;
                    }
                }
            }
        }

        .info-bg {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 68%;
            height: 160px;
            background: url(../images/mt_slider.png);
            background-position: bottom;
            background-size: contain;
            background-repeat: no-repeat;
            
          
        }
        .info-bg-none{
            display: none;
        }
    }
}
.mt-slider-pic-right.full{
    .container{
        max-width:1920px;
        .slider-pic{
            width: 100%;
           
        }
    }
}