@import '../../sass/variable'; //Variable
@import '../../sass/mixin'; //Mixin

.mt-footer {
    position: relative;
    z-index: 1;
    
    .container {
        width: 100%;
        display: flex;
        min-height: unset !important;
        @include screen('mobile') {
            flex-flow: row wrap;
        }
    }

    .footer {
        display: flex;
        flex-flow: row wrap;
        font-size: 0.875rem;
        color: #fff;
        align-items: flex-start;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
        background: #000;
        padding: 2em 0;
        @include screen('mobile'){
            padding-bottom: 6em;
        }
        .footer-info {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 60%;

            @include screen('mobile') {
                flex-basis: 100%;
                margin-bottom: 1em;
                margin: 0 1em;
            }

            ul {
                @include li-reset;
                margin-bottom: 0.25em;

                li {
                    display: inline-block;
                    margin-right: 1em;

                    &:last-child {
                        a {
                            &:after {
                                display: none;
                            }
                        }
                    }

                    a {
                        display: block;
                        position: relative;
                        padding: 0 1em 0 0;
                        color: #fff;

                        &:hover,
                        &:focus {
                            color: $aHover;
                        }

                        &:after {
                            position: absolute;
                            content: '';
                            right: 0;
                            top: 50%;
                            margin-top: -0.5em;
                            height: 1em;
                            border-left: 1px solid #ddd;
                        }
                    }
                }
            }

            p {
                color: #fff;
                margin: 0 0 0.25em;
                font-size: 1em;

                a {
                    color: #fff;
                    margin-right: 1em;

                    &:hover,
                    &:focus {
                        color: $aHover;
                    }
                }
            }
        }

        .footer-link {
            // display: flex;
            //     align-items: center;
            span{
                display: inline-block;
                vertical-align: middle;
                margin-bottom: 0.25em;
                margin-right: 1em;
            }
            a{
                display: flex;
                align-items: center;
                color: #fff;
                img{
                padding: 0 0.5em;
                max-height: 2em;
                }
            }
           
        }

        .footer-icon {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 40%;
            algin-align: flex-start;

            @include screen('xs_mobile') {
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 100%;
            }


            .ul {
                @include li-reset;
                display: flex;
                justify-content: flex-end;

                @include screen('mobile') {
                    justify-content: flex-start;
                }

                span {
                    flex-grow: 0;
                    flex-shrink: 1;
                    flex-basis: 1.5em;
                    margin: 0 0.5em;

                    a {
                        font-size: 1.75em;
                        color: #ccc;

                        &:hover,
                        &:focus {
                            color: #fff;
                        }
                    }
                }
            }
            ul {
                @include li-reset;
                display: flex;
                justify-content: flex-end;

                @include screen('mobile') {
                    justify-content: flex-start;
                }

                li {
                    flex-grow: 0;
                    flex-shrink: 1;
                    flex-basis: 1.5em;
                    margin: 0 0.5em;

                    a {
                        font-size: 1.75em;
                        color: #ccc;

                        &:hover,
                        &:focus {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}