<!-- css -->
<link rel="stylesheet" href="components/mt-footer/mt-footer.css" />
<!-- mt-footer -->
<div class="mt-footer">
  <div class="footer">
    <div class="container">
      <!-- footer資訊模組 -->
      <div class="footer-info">
        <div class="footer-link">
          <span class=""> 本網站主辦單位 |</span>
          <span
            ><a href="https://www.trade.gov.tw/" target="_blank">
              <img
                src="https://storage.googleapis.com/www.taiwantradeshow.com.tw/show-footer/202009/T-19078432.png"
                title="經濟部國際貿易局"
              />
              經濟部國際貿易局
            </a></span
          >
          <br />
          <span class=""> 執行單位 |</span>
          <span>
            <a href="https://www.taitra.org.tw/" target="_blank">
              <img
                src="https://storage.googleapis.com/www.taiwantradeshow.com.tw/show-footer/202009/T-78905388.png"
                title="中華民國對外貿易發展協會"
              />
              中華民國對外貿易發展協會
            </a>
          </span>
          <br />
          <span>
            <a href="/zh-tw/footer/77E5C3D2A7CE985DECC36AEAD9899E5C/info.html">
              服務條款和隱私權政策內容
            </a>
          </span>
          <br />
          <span>
            <a href="/zh-tw/footer/D44AE5148806E5E3F3FEC93C82EFFD46/info.html">
              免責聲明
            </a>
          </span>
        </div>
      </div>
      <!-- icon模組 -->
      <div class="footer-icon">
        <span class="ul">
          <span>
            <a href="#"><i class="fab fa-facebook"></i></a>
          </span>
          <span>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </span>
          <span>
            <a href="#"><i class="fab fa-line"></i></a>
          </span>
          <span>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </span>
          <span>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </span>
        </span>
      </div>
    </div>
  </div>
  <!-- <div class="footer">
        <div class="container">
            <div class="footer-info">
                <ul>
                    <li><a href="#">Site Map</a></li>
                    <li><a href="#">Useful Link</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ul>
                <p>
                    phone：<a tel="+886-2-2725-5200">+886-2-2725-5200#1128</a> E-mail：<a
                        href="mailto:mpo@meettaiwan.com">mpo@meettaiwan.com</a>
                </p>
                <p>
                    Copyright © 2021 Ministry of Economic Affairs All Rights Reserved.
                </p>
            </div>
            <div class="footer-icon">
                <ul>
                    <li>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-line"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
</div>
