.breadcrumb {
  // border-bottom: 1px solid #eee;
  // padding: 0.1em 0em 0.1em;
  padding: 1em 0 0.5em 0;
  font-size: 0.875em;
  margin: 0px auto;
  margin-left: 105px;
  width: 100%;
  ul {
    @include li-reset;
    li {
      display: inline;
      margin: 0px 0.1em 0.1em 0px;
      &:before {
        @extend %slash;
      }
      &:first-child:before {
        content: '';
        display: inline-block;
        color: #666;
        margin-left: 0;
        padding: 0;
      }
    }
  }
  a {
    color: #555;
    &:hover,
    &:focus {
      color: $aHover;
    }
  }
}
//會員頁面ＣＳＳ
.mt-main-content:has(.member-function),
.mt-main-content:has(.sp_member) {
  .breadcrumb {
    border-bottom: 1px solid #eee;
    margin-left: 0em;
  }
}
