<!-- css -->
<link rel="stylesheet" href="components/mt-campaign/mt-campaign.css" />

<!-- mt_campaign -->
<div class="mt-campaign full">
  <div class="container">
    <div class="content">
      <div class="infoBox" data-aos="fade-right" data-aos-delay="0">
        <h3 class="title">100x100 Sustainable Development Campaign</h3>
        <div class="btnBox">
          <a href="#" target="_blank">Learn more</a>
        </div>
      </div>
      <div class="video" data-aos="fade-left" data-aos-delay="200">
        <div class="outer">
          <iframe src="https://www.youtube.com/embed/QPzhqx0ApW8?si=3DBY7fpdmnqgCf4C&playlist=QPzhqx0ApW8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
