.miceFigures {
  h3 {
    margin-bottom: 1rem;
    color: #102b7a;
  }
  h4 {
    color: #465580;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      background: #465580;
      clip-path: polygon(0 0, 0% 100%, 48% 48%);
      width: 1em;
      margin-left: 0.4em;
      height: 0.75em;
      top: 0.3em;
    }
  }
  .wrapper {
    margin: 0 auto;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 12px #00000022;
    display: block;
    // overflow: hidden;
    padding: 2% 2% 5rem;
    min-height: 350px;
    height: 45vh;
    text-align: center;
    position: relative;
    button {
      color: #ccc;
    }
    .toggle-tb {
      .btnText {
        display: block;
        color: #999999;
        font-size: 0.75em;
        line-height: 1.5em;
        margin-top: 0.5em;
      }
      + div {
        z-index: 10;
        table {
          td {
            line-height: 2em;
          }
        }
      }
    }
  }
  .wrapper-tb {
    margin: 1rem auto;
    height: 0;
    opacity: 0;
    transition: 0.5s;
  }
  .chart-tb-contain.tb-on {
    .wrapper-tb {
      opacity: 1;
      height: 100%;
    }
  }
  .wrapper-tb {
    &:-webkit-scrollbar {
      background: transparent;
      height: 8px;
    }
    &:-webkit-scrollbar-thumb {
      background: #00000022;
      height: 3px;
      border-radius: 4px;
    }
  }

  .chart-table {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    td,
    th {
      text-align: center;
      font-size: 15px;
    }
    tr {
      td {
        &:nth-child(1) {
          min-width: 70px;
        }
        &:nth-last-child(-n + 10) {
          min-width: calc((100% - 70px) / 10);
        }
      }
    }
  }
  /* .infoTable  */
  .infoTable {
    /* box-shadow: 0 0 12px #00000022; */
    margin-bottom: 1em;
    // border-radius: 0.5rem;
    overflow: hidden;
    overflow: scroll;
    font-size: 15px;
    table > thead {
      &:nth-child(1) {
        th {
          &:nth-child(1) {
            &::after {
              position: absolute;
              content: '';
              background: url('../images/radus.svg') no-repeat;
              width: 15px;
              height: 15px;
              top: 0;
              left: 0;
            }
          }
          &:last-child {
            position: relative;
            &::after {
              position: absolute;
              content: '';
              background: url('../images/radus.svg') no-repeat;
              width: 15px;
              height: 15px;
              top: 0;
              right: 0;
              transform: rotate(90deg);
            }
          }
        }
      }
    }
    .tbodyTitle {
      + tr {
        td {
          &:first-child {
            background-color: #dee1e7;
            position: sticky;
            left: 0;
            font-weight: bold;
          }
        }
      }
    }
    table > thead {
      th {
        line-height: 2.5em;
        background-color: #a2bfe9;
        &:nth-child(1) {
          position: sticky;
          left: 0;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #dee1e7;
        }
        &:last-child {
          th {
            position: relative;
            &::after {
              position: absolute;
              left: 0;
              bottom: 0;
              content: '';
              background: url('../images/radus.svg') no-repeat;
              width: 15px;
              height: 15px;
              transform: rotate(270deg);
            }
          }
          td {
            &:last-child {
              position: relative;
              &::after {
                position: absolute;
                right: 0;
                bottom: 0;
                content: '';
                background: url('../images/radus.svg') no-repeat;
                width: 15px;
                height: 15px;
                transform: rotate(-180deg);
              }
            }
          }
        }
        th {
          &:nth-child(1) {
            min-width: 200px;
            padding: 0.5em 1em;
            background: #b3d6ff;
            background: #e5ecf3;
            position: sticky;
            left: 0px;
            z-index: 1;
          }
        }
        &:nth-child(even) {
          th {
            background-color: #d0d3dc;
          }
        }
        td {
          text-align: center;
          min-width: 150px;
          padding: 0.5em 1em;
        }
      }

      + thead {
        th {
          padding: 0.5em 1em;
        }
      }
    }

    .tbodyTitle {
      background: #b0bde238;

      td {
        border-right: #bfc8e1 1px solid;

        &:last-child {
          border-right: none;
        }
      }

      + tr {
        th {
          min-width: 120px;
        }
      }
    }
  }

  /* exhibitionList */
  .exhibitionList {
    font-size: 14px;
    margin-bottom: 5em;
    &:has(span) {
      ul {
        list-style: decimal;
      }
    }

    li {
      line-height: 1.5em;
    }
  }
  .scroltable-nav {
    &.scroltable-nav-right,
    &.scroltable-nav-left {
      display: none !important;
    }
  }
}
