@import '../../sass/_variable'; //Variable
@import '../../sass/_mixin'; //Mixin
// mt-event-Info
.mt-event-Info {
  .container {
    padding: 2em 1em 1em;

    @media screen and (max-width: 1200px) {
      padding: 2em 0em;
    }
    @include screen('tablet') {
      // padding: 2em 1em;
      padding: 2em 0em;
    }
  }
  .eventList {
    // display: flex;
    @include screen('tablet') {
      flex-flow: row wrap;
    }
    @include screen('xs_mobile') {
      .slick-dots {
        position: relative !important;
        top: 15px !important;
        bottom: 0 !important;
      }
    }
    .item {
      position: relative;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 22%;
      margin: 0.5em 1em 1em;
      display: flex;
      align-items: stretch;
      &.effect {
        animation: fadeInRight 1s 0.5s both $cubic;
      }
      &:nth-child(2).effect {
        animation: fadeInRight 1s 0.7s both $cubic;
      }
      &:nth-child(3).effect {
        animation: fadeInRight 1s 0.9s both $cubic;
      }
      &:nth-child(4).effect {
        animation: fadeInRight 1s 1.1s both $cubic;
      }

      @include screen('tablet') {
        flex-basis: 40%;
        // margin: 0 1em 1em;
      }
      @include screen('xs_mobile') {
        flex-grow: 1;
        flex-basis: 100%;
        // margin: 0 1em 1em;
      }
      a {
        display: block;

        // height: 410px;
        padding: 2.5em 1em 1em;
        background-color: #fff;
        transition: 0.3s ease-out;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        &:hover,
        &:focus {
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          @include screen('xs_mobile') {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 0px -12px, rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
          }
        }
        @include screen('mobile') {
          // height: 360px;
          padding: 2.5em 1em 2em 1em;
        }
        @include screen('xs_mobile') {
          box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 0px -12px, rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
        }
        .info {
          &:after {
            color: #8c8c8c;
          }
        }
      }
      .mt-tag {
        position: absolute;
        padding: 0.5em 1em;
        color: #fff;
        // text-align: center;
        text-align: start;
        left: 0;
        top: -15px;
        min-width: 12em;
        font-size: 0.938em;
        font-weight: bold;
        z-index: 1;
        margin-top: 0.5em;

        max-width: 1em;

        &:before {
          position: absolute;
          content: '';
          display: block;
          background-color: lighten($primaryColor, 15);
          clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
          width: 100%;
          height: 100%;
          z-index: -1;
          left: 0;
          padding-bottom: 0.5em;
          margin-top: -15px;
        }
        &:after {
          position: absolute;
          content: '';
          right: -3px;
          top: -0.5em;
          z-index: -2;
          width: 15px;
          height: 15px;
          background-color: $mt-heading-color;
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
      }
      .title {
        // height: 6em;

        display: flex;
        align-items: center;
        position: relative;
        &:after {
          //   position: absolute;
          content: '';
          //   bottom: -10px;
          left: 0em;
          width: 30%;
          height: 3px;
          background-color: lighten($primaryColor, 10);
          position: absolute;
          bottom: 0;
        }
      }
      h3 {
        position: relative;
        min-height: calc(1.25em * 3);
        font-family: arial, sans-serif;
        color: #333;
        font-size: 1.25em;
        margin: 0.6em 0;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        span {
          @include text-line(3, 1.25em);
          // text-align: center;
        }
      }
      .date {
        margin: 1.2em 0 1em 0;
        color: #888;
        font-size: 1em;
        // font-size: 0.813em;
        time {
          display: inline-block;
        }
      }
      .info {
        min-height: calc(4 * 1.6em);
        position: relative;
        margin-bottom: 1em;
        p {
          @include text-line(4, 1.6em);
          font-size: 0.875em;
          color: #8c8c8c;
          text-align: center;
          margin-bottom: 0.5em;
        }
      }
      .more {
        color: #8c8c8c;
        position: absolute;
        bottom: 1em;
        right: 1em;
        padding: 0;
        width: auto;
        min-width: auto;
        display: inline-block;
        font-weight: 400;
        text-transform: unset;
        font-size: 0.9em;
        &::before {
          display: none;
        }
        &::after {
          position: absolute;
          content: '';
          bottom: 0;
          right: 0;
          width: 1em;
          height: 1em;
          background-color: lighten($primaryColor, 10);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        }
      }
    }
  }
  .slick-prev {
    left: -80px !important;
  }
  .slick-next {
    right: -80px !important;
  }
}
.mt-event-Info.full {
  margin: 0 5em;
  .container {
    max-width: calc(1920px + 2em);
    padding: 1em 0em;
    // margin: 0 3em;
    @media screen and (max-width: 1200px) {
      margin: 0;
    }
  }
  .slick-prev {
    left: -50px !important;
  }
  .slick-next {
    right: -50px !important;
  }
}
.cp_like.mt-event-Info {
  .slick-prev {
    left: -30px !important;
  }
  .slick-next {
    right: -30px !important;
  }
}
