<!-- css -->
<link rel="stylesheet" href="components/mt-event-Info/mt-event-Info.css" />
<!-- mt-event-Info -->
<div class="mt-event-Info">
  <div class="container">
    <h2 class="mt-h2"><span>What’s Next</span></h2>
    <div class="eventList">
      <div data-aos="fade-left" data-aos-delay="500" class="item">
        <a href="#">
          <div class="mt-tag">Exhibition</div>
          <h3><span>2035 E-Mobility Taiwan</span></h3>
          <div class="date"><time>2021/10/20</time> - <time>2021/10/22</time></div>
          <div class="info">
            <p>Organized by Taiwan External Trade Development</p>
          </div>
          <span class="more">more</span>
        </a>
      </div>
      <div data-aos="fade-left" data-aos-delay="750" class="item">
        <a href="#">
          <div class="mt-tag">Exhibition</div>
          <h3><span>Contemporary Curating Rethink</span></h3>
          <div class="date"><time>2021/10/20</time> - <time>2021/10/22</time></div>
          <div class="info">
            <p>“Aging in Place” is the ultimate desire for all the human beings. However, social barriers are quite significant.care,community care</p>
          </div>
          <span class="more">more</span>
        </a>
      </div>
      <div data-aos="fade-left" data-aos-delay="1000" class="item">
        <a href="#">
          <div class="mt-tag">Meeting</div>
          <h3><span>A New Era of Care Industry – Innovative Technology</span></h3>
          <div class="date"><time>2021/10/20</time> - <time>2021/10/22</time></div>
          <div class="info">
            <p>Lorem ipsum dolor sit amet consectetur aaepe in expeditatis dicta tenetur, commodi ad?</p>
          </div>
          <span class="more">more</span>
        </a>
      </div>
      <div data-aos="fade-left" data-aos-delay="1250" class="item">
        <a href="#">
          <div class="mt-tag">Others</div>
          <h3><span>2035 E-Mobility Taiwan</span></h3>
          <div class="date"><time>2021/10/20</time> - <time>2021/10/22</time></div>
          <div class="info">
            <p>Organized by Taiwan External Trade Development Council (TAITRA), "2035 E-Mobility Taiwan" will be held at Taipei Nangang Exhibition Center, Hall 2 (TaiNEX 2) from</p>
          </div>
          <span class="more">more</span>
        </a>
      </div>
    </div>
    <!-- more -->
    <a href="#" class="more">
      <span>more</span>
    </a>
  </div>
</div>
