@import '../../sass/variable'; //Variable
@import '../../sass/mixin'; //Mixin

.mt-earth {
  padding: 5.5em 20px 4.5em;
  background: url('../images/m1/earth_bg.jpg') center top no-repeat;
  isolation: isolate;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 1200px) {
    background-position: -390px top;
  }
  @media screen and (max-width: 800px) {
    background-position: -408px top;
    background-size: cover;
  }
  @include screen('mobile') {
    padding: 3.4em 20px;
    background-position: 35% 0%;
  }
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.5;
    display: block;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 100%);
  }

  .content {
    width: 100%;
    max-width: 1240px !important;
    margin: 0 auto;
  }
  .title {
    color: #02183d;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 85px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -2.7px;
    margin: 0 0 25px;
    @include screen('notebook') {
      font-size: 70px;
      letter-spacing: 0px;
    }
    @include screen('mobile') {
      font-size: 50px;
      margin: 0 0 20px;
    }
    @include screen('xs_mobile') {
      font-size: 44px;
    }
  }
  .description {
    color: #02183d;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1px;
    margin: 0 0 50px;
  }
  .infoBox {
    margin: 0 0 6%;
  }
  .pic {
    @media screen and (max-width: 1199px) {
      max-width: 800px;
    }
    @include screen('mobile') {
      display: none;
    }
  }

  .listBox {
    position: relative;
    isolation: isolate;
    display: none;
    margin: 0 0 30px;
    @include screen('mobile') {
      display: block;
    }
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 4px;
      left: 0px;
      top: 0;
      bottom: 0;
      background: #000;
      background: linear-gradient(to bottom, rgba(135, 218, 237, 1) 0%, rgba(132, 173, 227, 1) 100%);
      display: block;
    }
    & > ul {
      display: flex;
      flex-direction: column;
      gap: 30px;
      position: relative;
    }
    li {
      display: flex;
      align-items: flex-start;
      li {
        display: block;
        position: relative;
        padding: 0 0 0 15px;
        &::before {
          content: '';
          width: 6px;
          aspect-ratio: 1;
          position: absolute;
          border-radius: 100%;
          display: block;
          background: rgba(0, 65, 175, 0.69);
          left: 0;
          top: 12px;
        }
      }
      // .year {
      //   font-weight: 600;
      //   font-size: 18px;
      //   width: 90px;
      //   aspect-ratio: 1;
      //   border-radius: 100%;
      //   flex-shrink: 0;
      //   background: linear-gradient(135deg, rgba(135, 218, 237, 1) 0%, rgba(132, 173, 227, 1) 100%);
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   position: relative;
      //   isolation: isolate;
      //   z-index: 9;
      //   &::before {
      //     content: '';
      //     position: absolute;
      //     width: 74%;
      //     aspect-ratio: 1;
      //     border-radius: 100%;
      //     top: 50%;
      //     left: 50%;
      //     transform: translate(-50%, -50%);
      //     border: 2px solid #fff;
      //     box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2), 5px 5px 5px 0 rgba(0, 0, 0, 0.2) inset;
      //     display: block;
      //     background: #fff;
      //     z-index: -1;
      //   }
      // }
      .year {
        font-weight: 800;
        font-size: 18px;
        display: flex;
        align-items: center;
        &::before {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          margin: 0 8px 0 0;
          background: linear-gradient(135deg, rgb(60, 155, 177) 0%, rgba(132, 173, 227, 1) 100%);
        }
        &::after {
          content: '';
          width: 10px;
          height: 2px;
          border-radius: 5px;
          order: -1;
          background: #3c9bb1;
          display: block;
          margin: 0 2px 0 0;
        }
      }
      .info {
        color: rgba(0, 65, 175, 0.69);
        font-size: 18px;
        font-weight: 600;
        margin: 0 0 0 20px;
        span {
          font-size: 20px;
          font-weight: 800;
        }
      }
    }
  }
}
