<!-- css -->
<link rel="stylesheet" href="components/mt-earth/mt-earth.css" />

<!-- mt_earth -->
<div class="mt-earth full">
  <div class="container">
    <div class="content">
      <h3 class="title" data-aos="fade-up" data-aos-delay="0">Roadmap of <br />Taiwan’s MICE Sustainability</h3>
      <div class="description" data-aos="fade-up" data-aos-delay="200">
        2050 carbon neutrality is an international trend, and MEET TAIWAN, launched by the International Trade Administration (TITA) under the Ministry of Economic Affairs (MOEA), not only plans various measures but also calls on MICE industry stakeholders to join the pledge. The aim is to enhance
        Taiwan's MICE industry with green energy and work together towards achieving carbon neutrality.
      </div>
      <div class="infoBox" data-aos="fade-up" data-aos-delay="400">
        <div class="pic"><img src="images/m1/earth.svg" alt="" /></div>
        <div class="listBox" data-aos="fade-up" data-aos-delay="400">
          <ul>
            <li>
              <div class="year">2023</div>
              <div class="info">
                <span>‧ DEFINE</span> the boundaries for carbon footprints<br />
                <span>‧ CALCULATE</span> the carbon footprints of events<br />
                <span>‧ ASSIST</span> event operators in implementing sustainable practices
              </div>
            </li>
            <li>
              <div class="year">2030</div>
              <div class="info">Track and reduce carbon emissions</div>
            </li>
            <li>
              <div class="year">2035</div>
              <div class="info">Transition to renewable energy and sustainable materials</div>
            </li>
            <li>
              <div class="year">2040</div>
              <div class="info">Remove carbon emissions</div>
            </li>
            <li>
              <div class="year">2050</div>
              <div class="info">Achieve net zero</div>
            </li>
          </ul>
        </div>
      </div>

      <div class="btnBox">
        <a href="#" target="_blank">Learn more</a>
      </div>
    </div>
  </div>
</div>
