<!-- css -->
<link rel="stylesheet" href="components/mt-epaper/mt-epaper.css" />
<!-- mt-epaper -->
<div class="mt-epaper">
    <div class="container">
        <h2 class="mt-h2"><span>Epaper</span></h2>
        <div data-aos="fade-up" data-aos-delay="500" class="epaper">
            <div class="item">
                <a href="#">
                    <div class="img-container">
                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                        <picture>
                            <source media="(min-width: 1200px)" srcset="images/epaper-pic-01.jpg" />
                            <source media="(min-width: 992px)" srcset="images/epaper-pic-01.jpg" />
                            <source media="(min-width: 576px)" srcset="images/epaper-pic-01.jpg" />
                            <source media="(max-width: 575px)" srcset="images/epaper-pic-01.jpg" />
                            <img data-src="images/epaper-pic-01.jpg" class="lazy" />
                            <noscript><img src="images/epaper-pic-01.jpg" /></noscript>
                        </picture>
                    </div>
                    <time>2021/10/28</time>
                    <div class="journal">116期</div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, voluptatem. Sequi laudantium
                        dolorum sed doloribus enim non, architecto accusamus nemo, optio natus assumenda sapiente
                        officiis voluptatibus est quos provident id! </h3>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <div class="img-container">
                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                        <picture>
                            <source media="(min-width: 1200px)" srcset="images/epaper-pic-02.jpg" />
                            <source media="(min-width: 992px)" srcset="images/epaper-pic-02.jpg" />
                            <source media="(min-width: 576px)" srcset="images/epaper-pic-02.jpg" />
                            <source media="(max-width: 575px)" srcset="images/epaper-pic-02.jpg" />
                            <img data-src="images/epaper-pic-02.jpg" class="lazy" />
                            <noscript><img src="images/epaper-pic-02.jpg" /></noscript>
                        </picture>
                    </div>
                    <time>2021/10/28</time>
                    <div class="journal">116期</div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, voluptatem. Sequi laudantium
                        dolorum sed doloribus enim non, architecto accusamus nemo, optio natus assumenda sapiente
                        officiis voluptatibus est quos provident id! </h3>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <div class="img-container">
                        <!-- 請針對縮圖產出尺寸使用不同解析度 src -->
                        <picture>
                            <source media="(min-width: 1200px)" srcset="images/epaper-pic-03.jpg" />
                            <source media="(min-width: 992px)" srcset="images/epaper-pic-03.jpg" />
                            <source media="(min-width: 576px)" srcset="images/epaper-pic-03.jpg" />
                            <source media="(max-width: 575px)" srcset="images/epaper-pic-03.jpg" />
                            <img data-src="images/epaper-pic-03.jpg" class="lazy" />
                            <noscript><img src="images/epaper-pic-03.jpg" /></noscript>
                        </picture>
                    </div>
                    <time>2021/10/28</time>
                    <div class="journal">116期</div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, voluptatem. Sequi laudantium
                        dolorum sed doloribus enim non, architecto accusamus nemo, optio natus assumenda sapiente
                        officiis voluptatibus est quos provident id! </h3>
                </a>
            </div>
        </div>
        <a href="#" class="more"><span>more</span></a>
    </div>
</div>