<!-- css -->
<link rel="stylesheet" href="components/mt-awards2/mt-awards2.css" />

<!-- mt_awards2 -->
<div id="block03" class="mt-awards2 full" style="background-image: url('images/m1/awards_bg.jpg')">
  <div class="container">
    <div class="content">
      <div class="infoBox" data-aos="fade-right" data-aos-delay="0">
        <h3 class="title">MICE Sustainability Awards</h3>
        <div class="description">Coming Soon...</div>
        <div class="btnBox">
          <a href="#" target="_blank">Find Out More</a>
        </div>
      </div>
    </div>
  </div>
</div>
