@import '../../sass/variable'; //Variable
@import '../../sass/mixin'; //Mixin

.mt-userbar {
    position: fixed;
    transform: translate3d(0, 0, 0);
    right: 0.5em;
    top: 50%;
    margin-top: -7em;
    z-index: 98;
    width: 3em;
    border-radius: 1.5em;
    padding: 1em 0.5em;
    background-color: rgba(0, 0, 0, 0.85);
    // min-height: 14em;
    display: flex;
    align-items: stretch;
    @include screen('mobile') {
        display: none;
    }
    ul {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        width: 100%;

        li {
            width: 1.5em;
            margin: 0.5em auto;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 1.5em;
            min-height: 2.1em;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                display: block;
                color: #ddd;
                position: relative;
                text-align: center;
                transition: 0.3s ease-out;
                &:hover{
                // &:focus {
                    color: $secondaryColor;
                    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
                    span {
                        opacity: 1;
                        pointer-events: normal;
                        left: -9em;
                    }
                }
                i {
                    font-size: 1.25em;
                }
                span {
                    position: absolute;
                    opacity: 0;
                    pointer-events: none;
                    background: $secondaryColor;
                    padding: 0.25em;
                    color: #fff;
                    left: -12em;
                    width: 8em;
                    top: -0.25em;
                    font-size: 0.813em;
                    border-radius: 0.25rem;
                    transition: 0.3s ease-out;
                    color: #fff;
                }
            }
            a.hasItem{
                color: $secondaryColor;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    right: -3px;
                    top: -4px;
                    border-radius: 50%;
                    background-color: #ffcc31;
                }
            }
        }
    }
}
