<!-- css -->
<link rel="stylesheet" href="components/mt-userbar/mt-userbar.css" />
<!-- mt-userbar -->
<div data-aos="fade-left" data-aos-delay="750" class="mt-userbar">
  <ul>
    <li>
      <a href="#">
        <i class="fas fa-envelope"></i>
        <span>聯絡我們</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fas fa-user"></i>
        <span>展覽主辦單位</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fas fa-users"></i>
        <span>會展業者</span>
      </a>
    </li>
    <li>
      <!-- 如沒有蒐藏 則移除 classname hasItem -->
      <a class="hasItem" href="#">
        <i class="fas fa-bookmark"></i>
        <span>收藏夾</span>
      </a>
    </li>
  </ul>
</div>
