@import '../../sass/_variable'; //Variable
@import '../../sass/_mixin'; //Mixin
// scrollTop
.mt-scrollToTop {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    transition: 0.3s ease-out;
    display: none;
    z-index: 999;
    background: $primaryColor;
    i {
        color: #fff;
        font-size: 1.5em;
        margin-top: 0.5em;
    }
    span{
        color: #fff;
        font-weight: 800;
    }
    &:hover,
    &:focus {
        background: darken($primaryColor, 10);
        box-shadow: none;
    }
}
