<!-- css -->
<link rel="stylesheet" href="components/mt-cookie/mt-cookie.css" />
<!-- mt-cookie -->
<div class="mt-cookie">
  <div class="container">
    <h3>Cookies</h3>
    <p>
      為了給您更好的服務，本網站使用cookies，如果您繼續使用我們將視為您同意接收所有本網站的cookies。
    </p>
    <p><a href="#">請參閱新版隱私權政策內容</a></p>
    <a href="#" class="more"><span>Accept</span></a>
  </div>
</div>
<!-- JS -->
<script>
  $(function () {
    $(".mt-cookie")
      .find("a.close")
      .off()
      .click(function (e) {
        $(".mt-cookie").stop().hide();
        e.preventDefault();
      });
  });
</script>
