<!-- css -->
<link rel="stylesheet" href="components/mt-alert/mt-alert.css" />
<!-- alert -->
<div class="mt-alert-slider">
  <div class="container alert-container">
    <div class="alert-item">
      <div class="alert-icon">
        <i class="fas fa-exclamation"></i>
      </div>
      <div class="alert-content">
        <h3>重要消息</h3>
        <p>
          110年第三季會展業薪資補貼與營運資金補貼即日起受理申請，Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Iure consequuntur sunt
          eveniet, ratione nobis nostrum totam expedita officiis eligendi
          placeat amet vitae nisi corporis laboriosam praesentium animi,
          possimus, quasi nesciunt.
        </p>
        <a href="#" class="more"><span>more</span></a>
      </div>
    </div>
    <div class="alert-item">
      <div class="alert-icon">
        <i class="fas fa-exclamation"></i>
      </div>
      <div class="alert-content">
        <h3>重要消息</h3>
        <p>
          110年第三季會展業薪資補貼與營運資金補貼即日起受理申請，Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Iure consequuntur sunt
          eveniet, ratione nobis nostrum totam expedita officiis eligendi
          placeat amet vitae nisi corporis laboriosam praesentium animi,
          possimus, quasi nesciunt.
        </p>
        <a href="#" class="more"><span>more</span></a>
      </div>
    </div>
    <div class="alert-item">
      <div class="alert-icon">
        <i class="fas fa-exclamation"></i>
      </div>
      <div class="alert-content">
        <h3>重要消息</h3>
        <p>
          110年第三季會展業薪資補貼與營運資金補貼即日起受理申請，Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Iure consequuntur sunt
          eveniet, ratione nobis nostrum totam expedita officiis eligendi
          placeat amet vitae nisi corporis laboriosam praesentium animi,
          possimus, quasi nesciunt.
        </p>
        <a href="#" class="more"><span>more</span></a>
      </div>
    </div>
  </div>
</div>
<!-- <div class="mt-alert">
  <div class="container">
    <div class="alert">
      <div class="alert-icon">
        <i class="fas fa-exclamation"></i>
      </div>
      <div class="alert-content">
        <p>
          110年第三季會展業薪資補貼與營運資金補貼即日起受理申請，Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Iure consequuntur sunt
          eveniet, ratione nobis nostrum totam expedita officiis eligendi
          placeat amet vitae nisi corporis laboriosam praesentium animi,
          possimus, quasi nesciunt.
        </p>
        <a href="#" class="more"><span>more</span></a>
      </div>
      <a href="#" class="close"><i class="fas fa-times"></i></a>
    </div>
  </div>
</div> -->
<!-- JS -->
<script>
  $(function () {
    if ($(".mt-alert-slider").length > 0) {
      $(".mt-alert-slider").each(function () {
        const len = $(this).find($(".alert-item")).length;
        //小於 兩筆資料 則按鈕列消失
        if (len < 2) {
          $(this).find($(".slick-dots").css("display", "none"));
        }
        //大於 兩筆資料 則按鈕列出現
        else {
          $(this).find($(".slick-dots").css("display", "flex"));
        }
      });
    }
  });
</script>
