<!-- css -->
<link rel="stylesheet" href="components/mt-video/mt-video.css" />

<!-- mt_video -->
<div class="mt-video full">
  <div class="container">
    <div class="content">
      <h3 class="title" data-aos="fade-up" data-aos-delay="0">video</h3>
      <div class="video" data-aos="fade-up" data-aos-delay="200">
        <ul>
          <li>
            <a href="https://www.youtube.com/watch?v=QPzhqx0ApW8&ab_channel=MEETTAIWAN%E6%8E%A8%E5%8B%95%E8%87%BA%E7%81%A3%E6%9C%83%E5%B1%95%E7%94%A2%E6%A5%AD%E7%99%BC%E5%B1%95%E8%A8%88%E7%95%AB" class="pic" data-lity><img src="images/m1/video_01.jpg" alt="" /></a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=NbdIy35RjDo&ab_channel=MEETTAIWAN%E6%8E%A8%E5%8B%95%E8%87%BA%E7%81%A3%E6%9C%83%E5%B1%95%E7%94%A2%E6%A5%AD%E7%99%BC%E5%B1%95%E8%A8%88%E7%95%AB" class="pic" data-lity><img src="images/m1/video_02.jpg" alt="" /></a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=WIBinoItjLA&ab_channel=MEETTAIWAN%E6%8E%A8%E5%8B%95%E8%87%BA%E7%81%A3%E6%9C%83%E5%B1%95%E7%94%A2%E6%A5%AD%E7%99%BC%E5%B1%95%E8%A8%88%E7%95%AB" class="pic" data-lity><img src="images/m1/video_03.jpg" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- JS -->
<link rel="stylesheet" href="vendor/lity-2.4.1/dist/lity.min.css" />
<script src="vendor/lity-2.4.1/dist/lity.min.js"></script>
